@import './mini-app/variables.css';

html,
body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background var(--transition-speed) ease, color var(--transition-speed) ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.mini-app-swal-popup {
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 15px;
}

.mini-app-swal-title {
  color: var(--error-color);
  font-size: 22px;
}

.mini-app-swal-confirm-button {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 10px 20px;
}

.mini-app-swal-popup-loading {
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 15px;
}

.mini-app-swal-title-loading {
  color: var(--text-color);
  font-size: 22px;
}

.mini-app-swal-popup-logout {
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 15px;
}

.mini-app-swal-title-logout {
  color: var(--text-color);
  font-size: 22px;
}

.mini-app-swal-confirm-button-logout {
  background-color: var(--error-color);
  color: var(--text-color);
  padding: 10px 20px;
}

.mini-app-swal-confirm-button-logout:active {
  background-color: var(--error-color);
  color: var(--text-color);
  padding: 10px 20px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}